body {
  background-color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  margin: 1ex 2em 1ex 2em;
}

h1 {
  margin-bottom: 1em;
  font-size: 160%;
  color: #800;
}

h2 {
  font-size: 130%;
  color: #800;
  margin-top: 0.3ex;
  margin-bottom: 0.3ex;
}

h3, h4, h5, h6 {
  font-size: 100%;
  color: #800;
  margin-top: 0.3ex;
  margin-bottom: 0.3ex;
}

p { margin: 1em 0; }

a         { color: #009; }
a:visited { color: #909; }
a:hover   { color: #000; } /* put second to act even for visited links */

ul, ol, dl {
  margin-left: 1.2em;
  margin-bottom: 1ex;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: left;
  vertical-align: middle;
  margin-top: 0.3ex;
  margin-bottom: 0.3ex;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 0.3ex;
}

th {
  background-color: #600;
  color: #fff;
  padding: 0.3ex;
}